{{#if isSecondary}}
    {{#foreach navigation}}
        <a href="{{url}}">
            <svg class="icon" role="img" aria-label="{{slug}} icon">
                <title>{{slug}}</title>
                <use xlink:href="#{{slug}}"></use>
            </svg>
        </a>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <a href="{{url absolute="true"}}" class="nav-item">{{label}}</a>
    {{/foreach}}
{{/if}}