{{!< default}}

{{#post}}
<div class="container {{post_class}}">
    <section class="page-header">
        <h1 class="title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="page-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <figure class="page-feature-image">
                <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
    </section>

    <div class="page-content">
        {{content}}
    </div>
</div>
{{/post}}
